<body id="home">
  <div class="home-container">
    <h1>qBooks</h1>
    <p>spread knowledge · re-sell your books</p>
    <%= link_to "Shop Now", products_path, class:"btn btn-success"%>
  </div>
</body>
