.navbar-lewagon {
  justify-content: space-between;
  padding-right: 50px;
  background:transparent;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  margin: 0 0 0 24px;
}

.navbar-lewagon .navbar-nav {
  margin: 0 32px 0 0 ;
}

.nav-link {
  color: white;
}

#to_white {
  color: white;
}

