.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-right: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  margin: 0 0 0 24px;
}

.navbar-lewagon .navbar-nav {
  margin: 0 32px 0 0 ;
}
